### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import pandas as pd
import csv
import os
import numpy as np

# setting path for source file
heros_pymoli = os.path.join("Resources/purchase_data.csv")

# reading source file
purchase_data = pd.read_csv(heros_pymoli)

# formatting the output file to get currency symbol
purchase_data["Price"] = purchase_data["Price"].map("${:,.2f}".format)


purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [71]:
# finding total no of player through the length of the data

total_players = len(purchase_data["SN"].value_counts())

#total_players.unique()
player_count = pd.DataFrame({"Total Players" : [total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
# finding desired values for purchasing analysis

# formatting the data to set the price as float to perform calculations
purchase_data['Price'] = purchase_data['Price'].str.replace("$","").astype(float)

# sorting unique items through the data through item ID
item_unique = purchase_data["Item ID"].nunique()

# calculating average price, purchase price and revenue
average_price = round(purchase_data["Price"].mean(), 2)
purchase_number = purchase_data["Purchase ID"].count()
revenue = purchase_data["Price"].sum()

# arranging data into frame
purchase_summary = pd.DataFrame({"Number of Unique Items" : [item_unique],
                                 "Average Price" : [average_price],
                                 "Number of Purchases" : [purchase_number],
                                 "Total Revenue" : [revenue]})

# formatting the result to get $ as prefix  
                              
purchase_summary["Average Price"] = purchase_summary["Average Price"].map("${:,.2f}".format)
purchase_summary["Total Revenue"] = purchase_summary["Total Revenue"].map("${:,.2f}".format)

# getting the purchase summary as output
purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [73]:
# sorting and grouping data by gender
gender_count = purchase_data.groupby(["Gender"])["SN"].nunique()

# calculating each gender percent and rounding them to 2 decimal points
gender_percent = round((gender_count / total_players) * 100 , 2)

# data frame of players based on their gender count
demographics = pd.DataFrame({"Total Count" : gender_count, "Percentage of Players" : gender_percent})

# sorting the data frame in decensing order
demographics = demographics.sort_values(by=['Total Count'], ascending=False) 

#formatting the data frame to get % for the percentage of players
demographics['Percentage of Players'] = demographics['Percentage of Players'].astype(str)+'%'
demographics.index.name = None

# printing demographics output
demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
# sorting the data for purchaning based on gender

# grouping data by gender
gender_stats = purchase_data.groupby("Gender")

# doing basic calculation to calculate purchase count, average purchase and average total purchase
purchase_count = gender_stats["Purchase ID"].count()
average_purchase = gender_stats["Price"].mean()
total_purchase = gender_stats["Price"].sum()
average_purchase_total = (total_purchase/gender_count)

# arranging data frame for the values obtained above according to gender
purchasing_analysis = pd.DataFrame({"Purchase Count" : purchase_count,
                                    "Average Purchase Price" : average_purchase,
                                    "Total Purchase Value" : total_purchase,
                                    "Avg Purchase Total Per Person" : average_purchase_total})

# formatting the columns to get currency symbols
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis["Total Purchase Value"] = purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis["Avg Purchase Total Per Person"] = purchasing_analysis["Avg Purchase Total Per Person"].map("${:,.2f}".format)

# printing the output of the purchasing analysis
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [75]:
# setting age bins for ages 
# setting group ranges for different age groups

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# sorting data by age
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)

# performing calculations to get age count and percentage of respective ages
age_count = purchase_data.groupby("Age Group")
age_total_count = age_count["SN"].nunique()
age_percent = round((age_total_count/total_players) * 100,2)

# making data frame by age groups
age_demographics = pd.DataFrame({"Total Count" : age_total_count,"Percentage of Players" : age_percent})
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].astype(str)+'%'
age_demographics.index.name = None

# printing age demographics output
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
# getting purchasing data by age
# sorting data with age ranges to get purchase values 

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
age_stats = purchase_data.groupby("Age Ranges")

# basic calculations to get purchase count, average purchase, total purchase and total average purchase
age_purchase_count = age_stats["Purchase ID"].count()
age_average_purchase = age_stats["Price"].mean()
age_total_purchase = age_stats["Price"].sum()
total_average_purchase = age_total_purchase/age_total_count

# setting data frame for the purchases by age groups
age_purchasing_analysis = pd.DataFrame({"Purchase Count" : age_purchase_count,
                                    "Average Purchase Price" : age_average_purchase,
                                    "Total Purchase Value" : age_total_purchase,
                                    "Avg Total Purchase Per Person" : total_average_purchase})

# formatting the data columns to get the currency symbols
age_purchasing_analysis["Average Purchase Price"] = age_purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
age_purchasing_analysis["Total Purchase Value"] = age_purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_purchasing_analysis["Avg Total Purchase Per Person"] = purchasing_analysis["Avg Total Purchase Per Person"].map("${:,.2f}".format)

# printing the age purchasing analysis output
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
# grouping the spender purchase data by Serial No.
spender_stats = purchase_data.groupby("SN")

# calculating spender count, spender average purchase and spender total purchase
spender_count = spender_stats["Purchase ID"].count()
spender_average_purchase = spender_stats["Price"].mean()
total_spender_purchase = spender_stats["Price"].sum()

# arranging the spending calculations in a data frame 
spending_analysis = pd.DataFrame({"Purchase Count" : spender_count,
                                    "Average Purchase Price" : spender_average_purchase,
                                    "Total Purchase Value" : total_spender_purchase
                                    })

# displaying the spending analysis in decending order
spending_analysis = spending_analysis.sort_values(by=["Total Purchase Value"], ascending=False) 

# formatting the data frame columns to get currency symbol
spending_analysis["Average Purchase Price"] = spending_analysis["Average Purchase Price"].map("${:,.2f}".format)
spending_analysis["Total Purchase Value"] = spending_analysis["Total Purchase Value"].map("${:,.2f}".format)

# printing spending analysis output 
spending_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
# getting popular items by item ID, Item name and price
# grouping the data by item ID abd Item name
popular_items = purchase_data[["Item ID","Item Name","Price"]]
popular_items = purchase_data.groupby(["Item ID","Item Name"])

# calculating no. of purchases, average item price and total purchase value 
purchase_count = popular_items["Item ID"].count()
average_item_price = popular_items["Price"].mean()
total_purchase_value = popular_items["Price"].sum()

# arranging item summary in a data frame
popular_summary = pd.DataFrame({"Purchase Count" : purchase_count,
                                    "Item Price" : average_item_price,
                                "Total Purchase Value" : total_purchase_value
                                    })

# arranging popular item summary in decending order
popular_summary = popular_summary.sort_values(by=['Purchase Count'], ascending=False)

# formatting the data frame to get currency symbol in relevant columns 
popular_summary["Item Price"] = popular_summary["Item Price"].map("${:,.2f}".format)
popular_summary["Total Purchase Value"] = popular_summary["Total Purchase Value"].map("${:,.2f}".format)

# printing popular item summary output 
popular_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [107]:
# getting the values item from the above data
popular_items = purchase_data[["Item ID","Item Name","Price"]]
popular_items = purchase_data.groupby(["Item ID","Item Name"])

# calculating purchase count, average item price and total purchase value of items
purchase_count = popular_items["Item ID"].count()
average_item_price = popular_items["Price"].mean()
total_purchase_value = popular_items["Price"].sum()

# arranging the data in a data frame
popular_summary = pd.DataFrame({"Purchase Count" : purchase_count,
                                    "Item Price" : average_item_price,
                                "Total Purchase Value" : total_purchase_value
                                    })

# arranging the summary table by total purchase value in decending order
popular_summary = popular_summary.sort_values(by=["Total Purchase Value"], ascending=False)

# formatting the table to get currency symbol in respective columns
popular_summary["Item Price"] = popular_summary["Item Price"].map("${:,.2f}".format)
popular_summary["Total Purchase Value"] = popular_summary["Total Purchase Value"].map("${:,.2f}".format)

# printing summary output
popular_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80